.card {
    width: 400px;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.height-100-pct {
    height: 100%;
}

.full-width {
    width: 100%;
}

.margin-top-16 {
    margin-top: 16px;
}