<div fxLayout="row" fxLayoutAlign="center center" class="height-100-pct">

    <mat-card class="card">

        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div fxLayout="column">

                <form [formGroup]="form" autocomplete="off">
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>

                            <input type="email" matInput formControlName="email">

                            <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>

                            <input type="password" matInput formControlName="password">

                            <mat-error *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                                Your password needs more than 6 characters
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <div fxFlex="65%">
                            <mat-checkbox class="example-margin" formControlName="rememberMe">Remember Me</mat-checkbox>
                        </div>

                        <div>
                            <p>Forgot password?</p>
                        </div>
                    </div>

                    <div class="margin-top-16">
                        <button mat-raised-button color="primary">Sign In</button>
                    </div>

                    <div class="margin-top-16">
                        <p>Don't have account?</p>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>